
.callToActionUm{
position: relative;
left: 0px;
top: 110px;

background: #070D2B;
}

.contentResultado{

position: relative;
top: 9rem;



}

.contentJogos{




}

.contentGuia{
position: relative;
top: 1rem;
background: #FFFFFF;
}

.contentMarketing{
  /* Frame 15 */

position: relative;




}
.contentFeedback{
    /* Frame 27 */

position: relative;


background: #FFFFFF;

}

.callToActionDois{

}