body {
  background: linear-gradient(to bottom ,
      #141F57 0%,
      #091033 5%,
      #0A133C 30%,
      #0C1649 40%,
      #0F1D5D 50%,
      #12216B 70%,
      #14267B 80%,
      #565a74  100%
  );
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}









