body {
  background: linear-gradient(
    to bottom,
    #141F57 0%,
    #091033 5%,
    #0A133C 30%,
    #0C1649 40%,
    #0F1D5D 50%,
    #12216B 70%,
    #14267B 90%,
    #424a75 100%
  );
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}

/* Primeira parte, onde está o priemiro botão de entrar do site*/
.callToActionUm {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  margin: 5rem auto;
  padding: 2rem;
}

.callToActionUm h1 {
  
  font-size: 3.5rem; 
  line-height: 1.2; 
  text-align: center;
}

.callToActionUm h2 {
  color: #D755FF; 
  font-size: 2rem; 
  font-weight: 400;
  margin-top: -1rem;
}

.callToActionUm button{
  margin: 2rem;
  background-color: #1EF3DA;
  width: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: #0E1D6F;
}
/* ^ Primeira parte, onde está o priemiro botão de entrar do site ^ */

/* Segunda parte, onde está "Como chegamos nesse resultado */
.contentResultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.contentResultado h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.contentIA, .contentJogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 8px; 
}

.contentIA img, .contentJogos img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px  solid #000000;
  border-radius: 50px;
}

.contentIA h3, .contentJogos h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.contentIA p, .contentJogos p {
  font-size: 14px;
  color: #e4e4e4;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  width: 100%; 
  background: none;
}
.container, form{
  background-color: rgba(0, 0, 0, 0.0);
  align-items: center;
}

/*^ Segunda parte, onde está "Como chegamos nesse resultado ^*/


/* Terceira parte, onde "Acompanhe nossos guias e dicas!" */
.contentGuia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  min-height: 650px;

}

.contentGuia h2 {
  font-size: 2rem;
  color: #0E1D6F;
  margin-bottom: 1.5rem;
}

.contentGuia ul {
  display: flex;
  flex-direction: column; 
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 4rem auto;
}

.contentGuia li {
  margin: 10px;
  display: flex;
  justify-content: center; /* Centraliza os cards */
}

.contentCard {
  display: flex;
  align-items: center; 
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; 
  text-align: left; 
}

.contentCard img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem; 
}

.contentCard p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}
/*^ Terceira parte, onde "Acompanhe nossos guias e dicas!" ^*/

.contentMarketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Adicionado para centralizar verticalmente */
  margin: 2rem auto;
  padding: 2rem;
  color: #fff; /* Texto branco */
  border-radius: 8px;
  width: 80%;
  text-align: center;
}
/* ^ quarta parte, onde está o marketing ^ */

.contentMarketing p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.contentRedes {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente */
  gap: 2rem;
}

.contentRedes img {
  width: 100px;
  height: 100px;
  background-color: #6A1B9A; /* Fundo roxo para os ícones */
  border-radius: 50%;
  padding: 10px;
}

.colorChange {
  color: #00C7BE;
}
/* ^ Fim da quarta parte ^ */
/* ^ Quinta parte, onde está o botão ^ */
.contentFeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.contentFeedback h2 {
  font-size: 2rem;
  color: #0E1D6F;
  margin-bottom: 1.5rem;
}

.contentFeedback > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardFeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 10px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.cardFeedback h4 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.cardFeedback img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.cardFeedback p {
  font-size: 1rem;
  color: #666;
  margin: 0.5rem 0;
}

.cardFeedback div {
  font-size: 1.2rem;
  color: #FFD700;
}

/* fim da quinta parte */
/* Sexta parte, onde está call to action*/

.callToActionDois {
  color: #fff;
  margin: 5rem;
  padding: 2rem;
}

.callToActionDois h2 {
  font-size: 4.5rem;
}

.callToActionDois p{
  font-size: 1.5rem;
}

.callToActionDois button{
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #000;
  width: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: #0E1D6F;
}
